@page
@model PrivacyPolicyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Header"] = "Privacy Policy";
    ViewData["SubHeader"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
