@{
    ViewData["Title"] = "Buttons";
    ViewData["Header"] = "Buttons";
    ViewData["SubHeader"] = "Buttons";
}

    <div class="">
        <table class="table table-bordered text-center">
            <tbody>
                <tr>
                    <th>Large <code>.btn-lg</code></th>
                    <th>Normal</th>
                    <th>Small <code>.btn-sm</code></th>
                    <th>Active <code>.active</code></th>
                    <th>Outline <code>.btn-outline-...</code></th>
                    <th>Disabled <code>.disabled</code></th>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-block btn-primary btn-lg">Primary</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-primary">Primary</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-primary btn-sm">Primary</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-primary active">Primary</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-outline-primary">Primary</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-primary disabled">Primary</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-block btn-secondary btn-lg">Secondary</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-secondary">Secondary</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-secondary btn-sm">Secondary</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-secondary active">Secondary</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-outline-secondary">Secondary</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-secondary disabled">Secondary</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-block btn-success btn-lg">Success</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-success">Success</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-success btn-sm">Success</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-success active">Success</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-outline-success">Success</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-success disabled">Success</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-block btn-info btn-lg">Info</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-info">Info</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-info btn-sm">Info</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-info active">Info</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-outline-info">Info</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-info disabled">Info</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-block btn-warning btn-lg">Warning</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-warning">Warning</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-warning btn-sm">Warning</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-warning active">Warning</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-outline-warning">Warning</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-warning disabled">Warning</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-block btn-danger btn-lg">Danger</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-danger">Danger</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-danger btn-sm">Danger</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-danger active">Danger</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-outline-danger">Danger</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-danger disabled">Danger</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-block btn-light btn-lg">Light</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-light">Light</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-light btn-sm">Light</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-light active">Light</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-outline-light text-dark">Light</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-light disabled">Light</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-block btn-dark btn-lg">Dark</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-dark">Dark</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-dark btn-sm">Dark</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-dark active">Dark</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-outline-dark">Dark</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-block btn-dark disabled">Dark</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br /><br />
        <h3>Buttons group</h3>
        <hr />
        <div class="">
            <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
                <button type="button" class="btn btn-secondary">Right</button>
            </div>
            <br /><br />
            <div class="btn-group" role="group" aria-label="Default button group">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
                <button type="button" class="btn btn-secondary">Right</button>
            </div>
            <br /><br />
            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
                <button type="button" class="btn btn-secondary">Right</button>
            </div>
            <br /><br />
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-secondary">1</button>
                <button type="button" class="btn btn-secondary">2</button>

                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button type="button" class="btn btn-secondary">Button</button>
                <button type="button" class="btn btn-secondary">Button</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupVerticalDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary">Button</button>
                <button type="button" class="btn btn-secondary">Button</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupVerticalDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop2">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupVerticalDrop3" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop3">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupVerticalDrop4" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop4">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
            </div>
        </div>

        <br /><br />
        <h3>Button Checkbox</h3>
        <hr />
        <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-primary">
                <input type="checkbox" autocomplete="off"> primary
            </label>
            <label class="btn btn-outline-secondary">
                <input type="checkbox" autocomplete="off"> secondary
            </label>
            <label class="btn btn-outline-success">
                <input type="checkbox" autocomplete="off"> success
            </label>
            <label class="btn btn-outline-info">
                <input type="checkbox" autocomplete="off"> info
            </label>
            <label class="btn btn-outline-warning">
                <input type="checkbox" autocomplete="off"> warning
            </label>
            <label class="btn btn-outline-danger">
                <input type="checkbox" autocomplete="off"> danger
            </label>
            <label class="btn btn-light">
                <input type="checkbox" autocomplete="off"> light
            </label>
            <label class="btn btn-outline-dark">
                <input type="checkbox" autocomplete="off"> dark
            </label>
        </div>

        <br /><br />
        <h3>Button Radio</h3>
        <hr />
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-primary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
            </label>
            <label class="btn btn-outline-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> Radio
            </label>
            <label class="btn btn-outline-primary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Radio
            </label>
            <label class="btn btn-outline-primary">
                <input type="radio" name="options" id="option4" autocomplete="off"> Radio
            </label>
            <label class="btn btn-outline-primary">
                <input type="radio" name="options" id="option5" autocomplete="off"> Radio
            </label>
        </div>
    </div>