@{
    ViewData["Title"] = "Dashboard";
    ViewData["Header"] = "";
    ViewData["SubHeader"] = "";
}
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="fa fa-file-text-o fa-5x"></i>
                    </div>
                    <div class="col-sm-9 text-right">
                        <h2 class="card-title border-bottom">1/<b>1</b></h2>
                        <p class="card-text">Published / Total Pages!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-sm-9 text-right">
                        <h2 class="card-title border-bottom">1/<b>1</b></h2>
                        <p class="card-text">Published / Total Post!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="fa fa-group fa-5x"></i>
                    </div>
                    <div class="col-sm-9 text-right">
                        <h2 class="card-title border-bottom">1/<b>1</b></h2>
                        <p class="card-text">Admin / Total User!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="fa fa-desktop fa-5x"></i>
                    </div>
                    <div class="col-sm-9 text-right">
                        <h2 class="card-title border-bottom">1/<b>1</b></h2>
                        <p class="card-text">Total Module / Theme!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>