<!--
 * QRN.Admin - Free Bootstrap Admin Template
 * version v1.0.0
 * link https://tecrt.com
 * Copyright (c) 2019 TecRT.com
 * Licensed MIT
-->
<footer class="qrn-footer">
    <span><a href="https://tecrt.com">QRN Admin</a> © 2018 TecRT.</span>
    <span class="ml-auto">Powered by <a href="https://tecrt.com">TecRT</a></span>
</footer>
<!-- Necessary plugins-->
<script src="~/lib/jquery/dist/jquery-3.4.1.min.js"></script>
<script src="~/lib/popper/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<!-- QRN-->
<script src="~/js/site.js"></script>