<!--
 * QRN.Admin - Free Bootstrap Admin Template
 * version v1.0.0
 * link https://tecrt.com
 * Copyright (c) 2019 TecRT.com
 * Licensed MIT
-->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<meta name="keywords" content="Bootstrap 4, Admin, Theme, Template, Open Source, jQuery, CSS, HTML, QRN, Dashboard" />
<meta name="description" content="QRN.Admin Theme - Open Source Bootstrap 4 Admin Template" />
<meta name="subject" content="Open Source Bootstrap 4 Admin Template">
<meta name="category" content="Bootstrap 4, Admin Template, Open Source">
<meta name="abstract" content="">
<meta name="topic" content="">
<meta name="summary" content="">
<meta name="Classification" content="Open Source">
<meta name="coverage" content="Worldwide">
<meta name="distribution" content="Global">
<meta name="robots" content="index,follow" />

<meta name="copyright" content="TecRT">
<meta name="author" content="TecRT, tecrt.com@gmail.com">
<meta name="designer" content="gmnazmul.com">
<meta name="reply-to" content="tecrt.com@gmail.com">
<meta name="owner" content="TecRT">
<meta name="url" content="http://www.tecrt.com">

<title>@ViewData["Title"] - QRN Admin</title>

<!-- Icons-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Fonts-->
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<!-- Bootstrap-->
@*<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
<link href="~/css/bootstrap-qrn-admin.min.css" rel="stylesheet">

<!-- Main styles for this application-->
<link href="~/css/site.css" rel="stylesheet">
<link href="~/css/site-black.css" rel="stylesheet">
