<!--
 * QRN.Admin - Free Bootstrap Admin Template
 * version v1.0.0
 * link https://tecrt.com
 * Copyright (c) 2019 TecRT.com
 * Licensed MIT
-->
<header class="qrn-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href=""></a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <partial name="_Parts/_UserMenu" />    
    <button class="navbar-toggler aside-menu-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>