<!--
 * QRN.Admin - Free Bootstrap Admin Template
 * version v1.0.0
 * link https://tecrt.com
 * Copyright (c) 2019 TecRT.com
 * Licensed MIT
-->
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-dashboard"></i> Dashboards</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fa fa-arrow-right"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index2"><i class="fa fa-arrow-right"></i> Dashboard 2</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-snowflake-o"></i> UI Elements</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/UI/Widgets"><i class="fa fa-th"></i> Widgets<span class="badge badge-success">NEW</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/UI/Buttons"><i class="fa fa-bars"></i> Buttons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/UI/Notifications"><i class="fa fa-flag"></i> Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/UI/Icons"><i class="fa fa-eye"></i> Icons</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-area-chart"></i> Charts</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Charts/ChartJs"><i class="fa fa-line-chart"></i> ChartJs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Charts/Inline"><i class="fa fa-pie-chart"></i> Inline</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-file-o"></i> Pages</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Pages/LongText"><i class="fa fa-link"></i> Long Text</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Pages/UserProfile"><i class="fa fa-user"></i> User Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Pages/Blank"><i class="fa fa-link"></i> Blank</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PrivacyPolicy"><i class="fa fa-link"></i> Privacy Policy</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown ">
                <!--open-->
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-bars"></i>Multi Level Menu</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-bars"></i>Multi Level 2</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-windows"></i>Big Text Level 3 <span class="badge badge-primary">NEW</span></a>
                            </li>
                            <li class="nav-item nav-dropdown">
                                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-bars"></i>Multi Level 3</a>
                                <ul class="nav-dropdown-items">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-windows"></i>Big Text Level 4</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-link"></i>Big Text Level 4</a>
                                    </li>
                                    <li class="nav-item nav-dropdown">
                                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-bars"></i>Multi Level 4</a>
                                        <ul class="nav-dropdown-items">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#"><i class="fa fa-windows"></i>Big Text Level 5</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#"><i class="fa fa-link"></i>Big Text Level 5</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#"><i class="fa fa-link"></i>Big Text Level 5</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-link"></i>Big Text Level 4</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-link"></i>Big Text Level 3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-link"></i>Big Text Level 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-windows"></i>Big Text Level 2 <span class="badge badge-success">NEW</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-link"></i>Big Text Level 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-link"></i>Big Text Level 2</a>
                    </li>
                </ul>
            </li>

            
        </ul>
    </nav>
</div>